body,html{
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }  
.body{
    background: linear-gradient(to top left, #0099ff -4%, #99ffcc 100%) no-repeat ;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top:6% ;
    display: flex;
    
  }
.Register-box,.Register-box1{
    background-color: aliceblue;
    height: 71vh;
    width: 56vh;
    margin-left: 12%;
    padding: 15px;
    padding-top: 10px;
}
.Register-box1{
    margin-left: 40%;
}
.Register-box h1{
    font-size: 31px;
    margin-left: 30%;
    color: rgb(141, 141, 141);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.Register-box h2{
    font-size: 16px;
    color: rgb(119, 119, 119);
    
}
.Register-box #input{
    width: 300px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid  #58b4f1;
}
.Register-box1{
    background-color: aliceblue;
    height: 71vh;
    width: 56vh;
    margin-left: 35%;
    
    
    
}

.Register-box1 h1{
    font-size: 30px;
    margin-left: 15%;
    color: rgb(141, 141, 141);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.Register-box1 h2{
    font-size: 16px;
    color: rgb(119, 119, 119);
    
}
.Register-box1 #input{
    width: 300px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid  #58b4f1;
}
.Signbtn{
    background-color: #0099ff;
    border-radius: 20px;
    width: 55%;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    height: 40px;
    margin-left: 50px;
    border: none;
}
.form1 .Signbtn{
    margin-top: 40px ;
}
.Signbtn:hover{
    background-color: #99ffcc;
    cursor: pointer;
    width: 57%;
}
.Register-box1 .close{
    padding: 0;
}
.close a i{
    font-size: 33px;
    color: whitesmoke;
    margin-left: 350px;

}

.form,.form1{
    margin-left: 35px;
}
.form1 input{
    height: 40px;
    font-size: 20px;

}

.text{
    color: whitesmoke;
    font-size: 55px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 55px;
    margin-left: 30px;
}
.p{
    font-size: 35px; 
}
.p1{
    color: #0099ff;
    margin-left: 30px;
}
.p1:hover{
    color: #99ffcc;
    cursor: pointer;
    
}

